<div class="row">
    <div class="col-md-3 page-header">
        <form class="form signup" action="/signup" method="post">
            <div class="form-group">
                <label class="control-label" for="name" translate>auth.fullName</label>
                <input type="text" id="name" name="name" placeholder="{{'auth.fullName' | translate}}" class="form-control input-lg" required autofocus>
            </div>

            <div class="form-group">
                <label class="control-label" for="email" translate>auth.email</label>
                <input type="text" id="email" name="email" placeholder="{{'auth.email' | translate}}" required class="form-control input-lg">
            </div>

            <div class="form-group">
                <label class="control-label" for="password" translate>auth.password</label>
                <input type="password" id="password" name="password" placeholder="{{'auth.password' | translate}}" required class="form-control input-lg">
            </div>

            <button type="submit" class="btn btn-success btn-lg pull-right"><span class="glyphicon glyphicon-ok-sign">&nbsp<span translate>auth.signUp</span></span></button>
            <br/>
            <!-- TODO ~~~~ OI RODRIGO, ME RESOLVA :D ~~ ~~ -->
            <br/>
            <br/>
            <br/>
            <a href="/auth/facebook">
                <button class="btn btn-facebook btn-lg pull-right" translate>auth.facebookLogin</button>
            </a>
        </form>
    </div>
</div>
